---
layout: default
---

<div class="container">
  <div class="archive">
    <h2>Archive</h2>
    {% for post in site.posts %}
      {% assign current_date = post.date | date: "%Y" %}
      {% if current_date != date %}
      {% unless forloop.first %}</ul>{% endunless %}
      <h3 class="archive__year" id="year-{{ post.date | date: "%Y" }}">{{ current_date }}</h3>
      <ul class="archive__list" aria-label="articles/posts archive, by date, newest first">
      {% assign date = current_date %}
      {% endif %}
        <li class="archive__item">
          <time
            class="archive__meta archive__date"
            datetime="{{ post.date | date_to_xmlschema }}"
            itemprop="datePublished"
          >
            {{ post.date | date: "%b %d" }}
          </time>
          <a class="archive__link _unborder" href="{{ post.url | prepend: site.baseurl }}">
            {{ post.title }}
          </a>
        </li>
      {% if forloop.last %}
      </ul>
      {% endif %}
    {% endfor %}
    <a class="" href="/">Back to home</a>
  </div>
</div>
