---
layout: default
---

<div class="home">

  <div class="hero">
    <h1>Web must be a hospitable <br /> place for <span>everyone.</span></h1>
    <p>Build for diversity.</p>
  </div>

  <!-- {% for post in site.posts %}
  <div class="container">
    <article class="article" id="post-{{ post.title | slugify }}">
      <header class="article-header">
        <p>Added in
          <time class="article-date" datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">
            {{ post.date | date: "%b %-d, %Y" }}
          </time>
        </p>

        <h1>
          <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h1>
      </header>

      {{ post.excerpt }}
    </article>
  </div>
  {% endfor %} -->

  <div class="container">
    <div class="home-guides">
      <header>
        <h1>Guides</h1>
        <p>Want to know more about Web Accessibility? <br /> Start learning from here!</p>
      </header>

      <ul>
        <li><a href="#">Introduction to Web Accessibility</a> - W3C</li>
        <li><a href="#">Getting Started with Web Accessibility</a> - SitePoint</li>
        <li><a href="#">The Web Accessibility Basics</a> - Marco Zehe</li>
        <li><a href="#">The Accessibility Cheatsheet</a> - Bits of Code</li>
      </ul>
    </div>

    <div class="home-utils">
      <header>
        <h1>Utils</h1>
        <p>Want help developing an accessible website? <br /> We've got you covered.</p>
      </header>

      {% for tool in site.data.tools %}
      <article>
        <a href="{{ tool.link }}">{{ tool.name }}</a>
        <p>{{ tool.description }}</p>
      </article>
      {% endfor %}
    </div>
  </div>

  

</div>
