body {
  /*lost-utility: edit;*/
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: var(--regular);
  line-height: 1.5;
  text-rendering: optimizeLegibility;
}

a:not([class]) {
  text-decoration: none;

  &:hover {
    border-bottom: 0;
  }
}

p {
  margin: 1.5em 0;
}

.container {
  lost-center: 940px;
}

.site-content {
  flex: 1;
}
