body {
  /*lost-utility: edit;*/
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  font-size: var(--text-normal);
  font-family: var(--font-sans);
  font-weight: var(--regular);
  line-height: 1.5;
  text-rendering: optimizeLegibility;
}

.container {
  lost-center: 720px;
  padding: 20px;
}

.site-content {
  flex: 1;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-serif);
  margin-top: 40px;
  margin-bottom: 10px;
}

p {
  margin: 0;
  margin-bottom: 20px;
}

strong, b {
  font-weight: var(--bold);
}

h1 {
  font-size: var(--text-large);

  @media (--medium-up) {
    font-size: var(--text-largest);
  }
}

hr {
  border: 0;
  height: 2px;
  width: 80px;
  background: var(--color-primary);
  margin: 40px auto;
}

img {
  display: block;
  max-width: 100%;
}

blockquote {
  border-left: 2px solid var(--color-primary);
  margin: 10px 0;
  padding: 0 0 0 20px;
  line-height: 1.75;

  & p {
    font-family: var(--font-serif);
    font-style: italic;
    margin: 0;
  }
}

a {
  color: var(--color-primary);
  text-decoration: none;

  &:not([class*="_unborder"]) {
    border-bottom: 1px solid #000;

    &:hover {
      border: 0;
    }
  }
}

:link:focus,
:visited:focus {
  outline: thin dotted var(--color-primary);
}

ul, ol {
  padding: 20px;
}

li {
  margin-bottom: 5px;
}