:root {
  --color-gray: #f7f7f7;
  --color-primary: #000;

  --regular: 300;
  --bold: 700;

  --font-sans: BlinkMacSystemFont, -apple-system, Roboto, 'Helvetica Neue',Helvetica, sans-serif;
  --font-serif: 'Libre Baskerville', serif;

  --text-small: 14px; /* h6, h5 */
  --text-normal: 16px; /* h4 */
  --text-medium: 24px; /* h3 */
  --text-large: 28px; /* h2 */
  --text-largest: 42px; /* h1 */
}

@custom-media --medium-up (width >= 640px);
@custom-media --large-up (width >= 830px);

@lost flexbox flex;
