:root {
  --fontSize: 1rem;
  --textColor: #444444;
  --titleColor: #333333;
  --secondaryTextColor: #838383;
  --aBlue: #53A3CE;
}

body {
  font-size: var(--fontSize);
  font-family: 'sans-serif';
  line-height: 1.5;
  text-rendering: optimizeLegibility;
}

ul {
  list-style: none;
  padding: 0;
}
