<div class="container section">
  <header class="page-header">
    <h1 class="page-title">Articles</h1>
    <p>Want to know more about Web Accessibility? Start learning from here!</p>
  </header>

  <div class="articles-content">
    <% page.posts.each(function (post) { %>
      <%- partial('item', { post: post }) %>
    <% }) %>
  </div>
</div>
