<article>
  <time class="article-date" datetime="<%= date_xml(post.date) %>">
    14 August, 2015
  </time>

  <a class="article-title" href="#">
    Making the iPhone camera acessible for the blind people
  </a>
</article>
