<footer class="footer">
  <div class="container">
    <section class="footer__about">
      <p>Let's make <strong>Web Accessibility</strong> trivial!</p>
      <p>This is a journal where you can share your thoughts on Web Accessibility.</p>
      <p>This project is an open publishing model and rely on contributions via our <a href="#">GitHub project</a>.</p>
    </section>

    <div class="footer__social">
      <a href="#" class="footer__social__item _unborder">
        {% include icon-github.html %}
        <b>Contribute on GitHub</b>
      </a>

      <a href="#" class="footer__social__item _unborder">
        {% include icon-feed.html %}
        <b>Subscribe to our Feed</b>
      </a>
    </div>
  </div>
</footer>
