<footer class="section section--highlight footer">
  <div class="container">
    <section class="footer__about">
      <h2 class="h1">About the project</h2>

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere error amet in quaerat rerum minus eligendi corporis tenetur sunt a iste saepe similique dicta tempora hic earum possimus doloremque, eaque!</p>
    </section>

    <div class="footer__contribute">
      <p>Notice an issue or want to submit a resource? Please <a href="#">contribute</a>.</p>
      <a class="button button--solid" href="#">Join us on GitHub</a>

      <p>&copy; 2016 a11y.rocks</p>
    </div>
  </div>
</footer>
