<footer class="section section--highlight footer">
  <div class="container">
    <section class="footer__about">
      <h2 class="h1">Let's make Web Accessibility trivial!</h2>

      <p>This is a journal where you can share your thoughts on Web Accessibility.</p>
      <p>This project is an open publishing model and rely on contributions via our <a href="#">GitHub project</a>.</p>
    </section>

    <div class="footer__contribute">
      <a href="#">Contribute on GitHub</a>
      <a href="#">Subscribe to our Feed</a>

      <p>Mantained by <a href="#">Diéssica Gurskas</a> and <a href="#">Lucas da Silva</a>.</p>
    </div>
  </div>
</footer>
