.footer {
  background-color: var(--color-gray);
  font-size: var(--text-small);
  padding: 15px 0;

  p {
    margin: 0.5em 0;
  }

  &__about {
    & p:first-child {
      font-size: var(--text-normal);
      margin-top: 0;
    }

    @media (--medium-up) {
      lost-column: 5/10;
      lost-offset: 1/10;
    }
  }

  &__social {
    width: 100%;

    @media (--medium-up) {
      lost-column: 4/10;
    }

    @media (--small) {
      margin-top: 30px;
      text-align: center;
    }

    &__item {
      display: block;
      margin-bottom: 10px;
    }

  }
}
