.header {
  padding: 30px 0;
  text-align: center;

  @media (--medium-up) {
    padding: 30px;
    text-align: left;
  }

  &__button {
    display: none;

    @media (--medium-up) {
      display: flex;
      lost-column: 1/4;
      lost-column-cycle: 3;
      lost-align: right;
    }
  }
}

.nav {
  margin-top: 15px;
  text-align: center;
  lost-column: 1;

  @media (--medium-up) {
    lost-column: 1/2 0;
  }

  &__item {
    font-size: 1rem;
    color: var(--colorGray);

    &:not(:last-child) {
      margin-right: 15px;
    }

    &:hover {
      color: var(--colorPrimary);
    }

    @media (--large-up) {
      &:not(:last-child) {
        margin-right: 30px;
      }
    }
  }
}

.logo {
  color: var(--colorPrimary);
  font-size: var(--textLargest);
  lost-column: 1;
  letter-spacing: -1px;

  @media (--medium-up) {
    font-size: var(--textLarge);
    lost-column: 1/4;
  }

  @media (--large-up) {
    font-size: var(--textLargest);
  }
}

.section-header {
  margin-bottom: 40px;

  &:after {
    position: relative;
    content: '';
    display: block;
    height: 3px;
    width: 100px;
    background: var(--colorPrimary);
  }
}
