.post {
  &--list {
    margin-bottom: 60px;
    padding: 20px;

    &:first-child {
      margin-top: 60px;
    }

    &:hover {
      background-color: var(--color-gray);
    }
  }

  &__date {
    font-size: 14px;
    color: var(--color-gray-dark);
  }

  &__title {
    margin-bottom: 10px;

    &:not(&--list) {
      text-align: center;
    }
  }

  &__header {
    width: 100%;
  }

  &__info {
    width: 300px;
    margin: auto;
    font-size: var(--text-small);
    display: flex;
    color: var(--color-gray-dark);
  }

  &__info * {
    display: flex;
    align-items: center;
  }
}

.author {
  &::after {
    content: "";
    width: 3px;
    height: 3px;
    margin-right: 10px;
    margin-left: 10px;
    background: var(--color-primary);
    border-radius: 50%; 
  }

  &__name {
    color: var(--color-primary);
  }

  &__picture {
    border-radius: 50%;
    width: 35px;
    margin-right: 10px;
  }
}
