<header class="header">
  <div class="logo">
    <h1>a11y rocks!</h1>
  </div>

  <nav class="nav">
    <a class="nav__item" href="#">Articles</a>
    <a class="nav__item" href="#">Media</a>
    <a class="nav__item" href="#">Utils</a>
    <a class="nav__item" href="#">People</a>
  </nav>

  <button class="button button--solid header__button">
    Join us on GitHub
  </button>
</header>
