.button {
  border: 2px solid var(--colorPrimary);
  border-radius: 4px;
  color: var(--colorPrimary);
  cursor: pointer;
  display: inline-block;
  font-size: var(--textSmall);
  font-weight: var(--bold);
  padding: 8px 10px;
  text-align: center;

  @media (--large-up) {
    padding: 8px 15px;
  }

  &--solid {
    background: var(--colorPrimary);
    color: #fff;
  }
}
