.header {
  padding: 30px 0;
  text-align: center;

  @media (--medium-up) {
    padding: 30px;
    text-align: left;
  }

  &__button {
    display: none;

    @media (--medium-up) {
      display: block;
    }
  }
}

.nav {
  margin-top: 10px;

  &__item {
    color: var(--colorGray);

    &:not(:last-child) {
      margin-right: 20px;
    }

    @media (--medium-up) {
      font-size: var(--textHighlight);
    }
  }
}
