.header {
  padding: 30px 0;
  text-align: center;

  @media (--medium-up) {
    padding: 30px;
    text-align: left;
  }

  &__button {
    display: none;

    @media (--medium-up) {
      display: flex;
      lost-column: 1/4;
      lost-column-cycle: 3;
      lost-align: right;
    }
  }
}

.nav {
  margin-top: 10px;
  text-align: center;
  lost-column: 1;

  @media (--medium-up) {
    lost-column: 1/2 0;
  }

  &__item {
    font-size: var(--textHighlight);
    color: var(--colorGray);

    &:not(:last-child) {
      margin-right: 15px;
    }

    @media (--large-up) {
      &:not(:last-child) {
        margin-right: 30px;
      }
    }
  }
}

.logo {
  lost-column: 1;
  font-size: 1.85rem;
  letter-spacing: -1px;

  @media (--medium-up) {
    font-size: 1.45rem;
    lost-column: 1/4;
  }

  @media (--large-up) {
    font-size: 2rem;
  }
}
