.page-header {
  padding: 20px;
  border-top: 3px solid var(--colorPrimary);
  border-bottom: 3px solid var(--colorPrimary);
  text-align: center;

  @media (--medium-up) {
    lost-column: 1/8;
    margin: auto !important;
    padding: 20px 0;

    * {
      margin-left: -150px;
      margin-right: -150px;
      /* use lost-move? */
    }
  }
}

.page-title {}
