.home {
}

.hero {
  background: var(--colorGrayDark);
  color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 360px;

  h1 {
    color: inherit;
  }
}

.home-section {
  padding: 40px 0;
}

.home-guides,
.home-utils {

  @media (--medium-up) {
    lost-column: 1/2;
  }
}

.banner-a11y {
  position: relative;
  background: var(--colorGrayLight);

  .container {
    padding: 80px 0;
    align-items: center;
  }

  .description {
    @media (--medium-up) {
      lost-column: 2/3;
    }
  }

  .action {
    display: flex;
    flex-direction: column;

    @media (--medium-up) {
      lost-column: 1/3;
    }

    .button {
      margin: 10px 0;
    }
  }

  &:after,
  &:before {
    position: relative;
    content: '';
    display: block;
    height: 3px;
    width: 100px;
    margin: 0 auto;
    background: var(--colorPrimary);
  }

  &:after {
    bottom: -3px;
  }

  &:before {
    top: -3px;
  }
}
