<div class="container section">
  <header class="page-header">
    <h1 class="page-title">Media</h1>
    <p>Watch talks about accessibility. Blablablabla I don't know what to write here.</p>
  </header>

  <% page.posts.each(function (post) { %>
    <%- partial('item', { post: post }) %>
  <% }) %>
</div>
