---
layout: default
---
{% assign author = site.authors[page.author] %}
<article class="post">

  <div class="container">

    <header class="post__header">

      <h1 class="post__title">{{ page.title }}</h1>

      <div class="post__info">
        {% if author %}
          <div class="author">
            {% if author.picture %}
              <img
                src="{{ author.picture }}"
                class="author__picture"
                alt="{{ author.name }}"
              />
            {% endif %}

            <a
              href="{{ author.web }}"
              class="author__name _unborder"
            >
              {{ author.name }}
            </a>
          </div>
        {% endif %}

        <time class="post__date" datetime="{{ page.date | date_to_xmlschema }}">
          {{ page.date | date: "%b %-d, %Y" }}
        </time>
      </div>

    </header>

    <hr />

    <div class="post__body">
      {{ content }}
    </div>

    <hr />

    <div class="post__pagination">
      {% if page.previous.url %}
      <a class="post__pagination--prev _unborder" href="{{ page.previous.url }}">
        <strong>← Previous article</strong>
        <p>{{ page.previous.title }}</p>
      </a>
      {% endif %}
      {% if page.next.url %}
      <a class="post__pagination--next _unborder" href="{{ page.next.url }}">
        <strong>Next article →</strong>
        <p>{{ page.next.title }}</p>
      </a>
      {% endif %}
    </div>

    <div class="post__comments">
      {% include disqus.html %}
    </div>

  </div>

</article>
